/*-------global--------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: poppins;
}
:root{
  --lightmode-color:white;
  --darkmode-color:black;
}
.dark-mode{
  --lightmode-color:black;
  --darkmode-color:white;
}
body{
  background-color:var(--lightmode-color);
}
html
{
  scroll-behavior: smooth;
}
main{
  height: 85vh;
}
h3{
  font-weight: 100;
}
/*---------------navigation bar----------*/
#mode{
  display: flex;
  cursor: pointer;
  background-color:var(--lightmode-color);
  border-radius: 50%;
  size: 3px;
}

.lightmode
{
  display: flex;
  gap: 10px;
}
.light{
  color: var(--darkmode-color);

}
button{
  font-weight: 600;
}
.modeswitch{
  color: var(--darkmode-color);
  background-color: var(--lightmode-color);
  cursor: pointer;
}
/*
.modeswitch:hover{
  color: var(--lightmode-color);
  background-color: var(--darkmode-color);
}
.light:hover{
  color: var(--lightmode-color);
  background-color: var(--darkmode-color);
}*/
nav{
  
  background-color: var(--lightmode-color);
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 15vh;
  flex-wrap: wrap;


}
.logo{
  font-weight: 900;
  font-size:20px;
}
.logo a {
 text-decoration: none;
 color:var(--darkmode-color);
 background-color:var(--lightmode-color);

}
.list-items{
  display: flex;
  gap: 55px;
  list-style: none;
  background-color: var(--lightmode-color);
  text-align: center;
}
.list-items  a{
  color:var(--darkmode-color);
  background-color: var(--lightmode-color);
  text-decoration: none;
  transition: all 300ms ease;

}
.list-items a:hover{
  color:var(--lightmode-color);
  background-color:var(--darkmode-color);
  border-radius: 25px;
  padding: 15px;

}
/*--------------------------hamburger menu---------------------------*/
#hamburger-nav {
  display:none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color:red;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--lightmode-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--darkmode-color);
  text-decoration: none;
  border-radius: 45px;
  transition: all 0.3 ease-in-out;
}
.menu-links a:hover{
  color: var(--lightmode-color);
  background-color: var(--darkmode-color);
  border-radius: 45px;
}
.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamlight{
  display: none;
}
/*------------------main -------------------*/
.face-off{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  overflow: hidden;
}
.myname,.hello,.qual{
  text-align: center;
  color: var(--darkmode-color);
}
.btn{
  margin: 15px;
  display: flex;
  gap: 15px;
  color: red;
}
button{
  color: var(--darkmode-color);
  background-color: var(--lightmode-color);
  border-radius: 15px;
  padding: 5px;
}
.cv{
  text-wrap: nowrap;
}
.cv:hover{
  color: var(--lightmode-color);
  background-color: var(--darkmode-color);
  cursor: pointer;
}
/*.btn button:hover{
  color: var(--lightmode-color);
  background-color:var(--darkmode-color);
  cursor: pointer;
}*/
.social{
  display: flex;
  gap: 55px;
}
.fa-linkedin,.fa-github{
  color:var(--darkmode-color);
}
/*---------------------------about page-----------------------*/
/*.info{
  height: 120vh;
}*/
#about{
text-align: center;
color: var(--darkmode-color);

}
.education{
  border: 1px var(--darkmode-color);
  text-align: center;
  margin-top: 5px;
  color: var(--darkmode-color);
}
.info
{
 /* border: 1px solid var(--darkmode-color); */
  border-radius: 45px;
  margin: 20px;
  margin-top:5px;
  padding: 50px;
}
.tab{
  margin: 20px;
  display: flex;
  color: var(--darkmode-color);
  justify-content: center;
  flex-wrap: wrap;
}
.tab h1{
  text-wrap: nowrap;
}
.tab p{
  padding: 10px;
text-wrap: nowrap;
}
.btech,.dip,.school{
  border: 1px solid var(--darkmode-color);
  border-radius: 45px;
  padding: 35px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 600;
}

.summary h2{
  text-align: center;
  color: var(--darkmode-color);
}
.summary p{
  padding: 10px;
  text-align: left;
  color: var(--darkmode-color);
  font-weight: 600;
}
.skills{
  margin-top: 25px;
}
.skills h2,h3{
  text-align: center;
  padding: 5px;
  color: var(--darkmode-color);
}
.data{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.software{
  color: var(--darkmode-color);
  border: 1px solid var(--darkmode-color);
  padding: 25px;
  border-radius: 45px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.webdev{
  color: var(--darkmode-color);
  border: 1px solid var(--darkmode-color);
  padding: 25px;
  border-radius: 45px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.soft{
  display: flex;
  margin-top: 5px;
}
.dev{
  display: flex;
  margin-top: 5px;
}

.software p{
  padding: 15px;
  font-weight: 600;
}
.webdev p{
  padding: 15px;
  font-weight: 600;
}
.software h1 ,.webdev h1{
  text-wrap: nowrap;
  text-decoration: none;
  text-align: center;
}
.logos{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;

}

/*--------------------------------projects------------------------------*/
section h3{
  font-weight: 400;
}
section h2{

  text-align: center;
  color: var(--darkmode-color);

}
.title{
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
#projects{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.projectset{
  display: flex;
 /* border: 1px solid var(--darkmode-color); */
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
  border-radius: 45px;
}

.projectcard{
  border: 1px solid var(--darkmode-color);
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 45px;
  margin: 15px;
  overflow: hidden;
}
.projectcard img{
  height: 225px;
  width: 225px;
  align-self: center;
  border-radius: 45px;
}
.projectcard img:hover{
  background-color: gray;
}
.projectcard h1{
  text-wrap: nowrap;
  color: var(--darkmode-color);
}
.probutton{
   margin: 5px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
#projects .cv{
  margin: 5px;
  padding: 5px 10px;
  border-radius: 45px;

}
/*-----------------------------------contact me -------------------------------------*/
#contactsection{
  margin-top: 500px;
  /*  border: 1px solid var(--darkmode-color);*/
  border-radius: 45px;
  margin: 20px;

}
.contact{
  border: 1px solid var(--darkmode-color);
  border-radius: 45px;
  padding: 25px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact p{
  text-align: center;
  color: var(--darkmode-color);
  margin: 5px;
  font-size: 18px;

}
.contact a{
  text-decoration: none;
}
.mail,.gmail{
  font-weight: 600;
}
/*-------------------------------footer-----------------------------------*/
footer{
  margin: 20px;
  border-radius: 45px;
}
footer .navigation{
  margin: 20px;
}
footer p{
  text-align: center;
  color: var(--darkmode-color);
  font-weight: 600;
}
/*---------------------popup---------------------*/
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lightmode-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: visible;
}
#popupVideo{
  height: 350px;
  width: 600px;
}
/*-------------------------------------------spans-----------------------------*/
.initial{
  color: red;
}
.sub{
  color: #fcc200;
}
.did{
  color: green;
}